*{
    box-sizing: border-box;

}


.main{
    margin-top: 100px;
}



.all{
    margin-top: 180px;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
}